/*Header -- All Pages*/

.topbar {
    background-color: #ffffff;
    border-bottom: 5px solid #cccccc;
    height: 84px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header {
    float: left;
    align-content: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    padding: 20px;
    margin-left: 289px;
}

#tabs {
    text-decoration: none;
    color: #777777;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
    margin-top: 15px;     
}

.topnav {
    display: block;
    margin-right: 266px;    
    text-align: right;
}

#tabs:hover {
    background-color: #4aaaa5;
    color: white;
}

head::after {
    content: "";
    clear: both;
    overflow: auto;
}








/*Body Background*/
body {
    background-image: url(../Images/country-quilt.png);
}









/*Start of CSS for Body of index.html*/

.body {
    width: 960px;
    height: 658px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 120px;
    margin-bottom: 120px;
}

#aboutme {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    float: left;
    padding: 30px;
    margin: 10px 0px 25px 18px;
    border-bottom: 2px solid #cccccc;
    width:862px;
}

#me {
    border-radius: 8px;
    float: left;
    width: 24%;
    margin: 0px 18px 2px 18px;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    margin-right: 20px;
    margin-left: 18px;
    line-height: 39px;
}

p4 {
    margin-left: 230px;
    font-size: 24px;
}

.body::after {
    content: "";
    clear: both;
    overflow: auto;
}







/*Start of css for the Contact Page*/

.container {
    width: 960px;
    height: 717px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 120px;
    margin-bottom: 120px;
}

#contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    /* float: left; */
    padding: 30px;
    margin: 10px 0px 25px 18px;
    border-bottom: 2px solid #cccccc;
    width:862px;
}


input[type=text], select, textarea {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 12px;
    color: #777777;
    font-size: 14px;  
    border: 1px solid #dddddd; 
    border-radius: 4px;  
    margin: 10px 0px 16px 0px;
    resize: vertical 
}

#same {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    font-size: 18px;
    margin-left: 18px;
}

#submit {
    background: #4aaaa5;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding: 11px 26px;
    cursor: pointer;
    margin-left: 18px;
}

#submit:hover {
    background-color: #777777;
    color: white;
}





/*Start of css for the portfolio page*/


.portfolio {
    width: 960px;
    height: 717px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 120px;
    margin-bottom: 120px;
}

#port {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    float: left;
    padding: 30px;
    margin: 10px 0px 25px 18px;
    border-bottom: 2px solid #cccccc;
    width:862px;
}

.projects {
    column-count: 3;
    column-fill: auto;
    height: auto;
    column-gap: 5px;
    column-width: 300px;
    float: left;
    overflow: auto;
}


















/*Sticky Footer*/
.footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 40px 0px 5px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

